html {
    box-sizing: border-box;
}

*,
*::after,
*::after {
    box-sizing: inherit;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}


body {
    background: #121926;
    padding: 0;
    margin: 0;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    /*    font-family: 'IBM Plex Sans', sans-serif;
        font-family: 'Inter', sans-serif;
        font-family: 'Lato', sans-serif;
        font-family: 'Roboto', sans-serif;*/
}

#logo {
    width: 60px;
    height: 60px;
    object-fit: contain;
}


.header__inner {
    display: flex;
    min-height: 90px;
    align-items: center;
    margin-left: 2rem;
    margin-right: 2rem;

}

header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #1A2332;
    z-index: 100;
}

.top__inner {
    margin-top: 10rem;
    text-align: center;

}

.menu__list__mobile {

    display: none;
}

.top__title_beginning {
    color: #9FEF00;
    text-align: center;
    font-family: Inter, serif;
    font-size: 80px;
    font-style: normal;
    font-weight: 300;
    line-height: 88px; /* 110% */
}

.top__title {
    color: #FFF;
    font-family: Inter, serif;
    font-size: 80px;
    font-style: normal;
    font-weight: 300;
    line-height: 88px;
}


.top__text {
    color: #9FEF00;
    text-align: center;
    font-family: IBM Plex Sans, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: 36px; /* 150% */
}

.menu__list {
    display: flex;
    align-items: center;
    gap: 0 85px;
    color: #A4B1CD;
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 3rem;


}

.menu__item:hover {
    color: #9FEF00;
}

.user-actions {
    display: flex;
    align-items: center;
    gap: 0 15px;
    margin-left: auto;
}

.container {
    max-width: 1840px;
    margin: 0 auto;
}


.panel__one {
    margin: 176px auto 24px;
    display: flex;
    text-align: left;
    max-width: 1280px;
    height: 470px;
    border-radius: 16px;
    border: 1px solid rgba(26, 35, 50, 0.53);
    background: rgba(26, 35, 50, 0.75);
    backdrop-filter: blur(10px);
}

#menu__btn__menu__icon {
    width: 60px;
    height: 60px;
    background-color: #1A2332;


}


.panel__icon__back {
    margin: 80px 0 0 80px;
    text-align: left;
    display: flex;
    width: 56px;
    padding: 16px 16px 14px 16px;
    justify-content: center;
    align-items: center;

    border-radius: 8px;
    background: #9FEF00;


}

#first__panel__photo {
    width: 36rem;
    height: 16.875rem;
    margin: auto 0 auto 64px;

}

#panels-two__two_1__photo {
    width: 630px;
    height: 427px;
    margin-top: 2rem;

}

#panels-two__tree_1__photo {

}

#second__panel__photo {
    width: 369px;
    height: 271px;
    margin-top: 20px;
}

.panel__one__title {
    margin-left: 80px;
    color: #9FEF00;
    font-family: Inter, sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 38px; /* 125% */
}


.panel__one__text {
    margin-left: 80px;
    color: #A4B1CD;
    margin-right: 75px;
    font-family: IBM Plex Sans, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 30px; /* 150% */
}

.panel__two {
    display: inline-table;
    margin: 12px;

    width: 498px;
    height: 777px;

    border-radius: 16px;
    border: 1px solid rgba(26, 35, 50, 0.49);
    background: rgba(26, 35, 50, 0.67);
    backdrop-filter: blur(20px);
}

.panel__two__text {
    margin-left: 80px;
    margin-right: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    text-align: left;
    color: #A4B1CD;
    font-family: IBM Plex Sans, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 30px;
}

.panel__two__title {
    margin-left: 80px;
    text-align: left;

    flex-shrink: 0;

    color: #9FEF00;
    font-family: Inter, sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 38px; /* 125% */
}


.panel__tree {
    display: inline-table;
    width: 758px;
    height: 777px;
    margin: 12px;
    border-radius: 16px;
    border: 1px solid rgba(26, 35, 50, 0.49);
    background: rgba(26, 35, 50, 0.67);
    backdrop-filter: blur(20px);
}

.panel__tree__title {
    margin-left: 80px;
    display: flex;
    text-align: left;

    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #9FEF00;
    font-family: Inter, sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 38px; /* 125% */
}

.panel__tree__text {
    margin-left: 80px;
    display: flex;
    text-align: left;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #A4B1CD;
    font-family: IBM Plex Sans, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 30px; /* 150% */
}

.panels {
    display: inline;

}

.middle {
    text-align: center;
}


/*button*/
.custom-btn {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 7px;
    padding: 10px 25px;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-color: white;
}

.custom-btn-1 {
    margin-left: 80px;
    width: 156px;
    height: 40px;
    color: #fff;
    border-radius: 7px;
    padding: 10px 25px;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-color: white;
}


/* 1 */
.btn-1 {
    background: #1A2332;
    z-index: 1;
    color: #A4B1CD;
    text-align: center;
    font-family: Inter, sans-serif;
    font-size: 11px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1px;
    text-decoration-line: underline;
    text-transform: uppercase;


}

.btn-1:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 6px;
    background-color: #9FEF00;
    /*
    background-image: linear-gradient(315deg, #417c44 0%, #257925 74%);
    */
    box-shadow: inset 2px 2px 2px 0 rgba(255, 255, 255, .5),
    7px 7px 20px 0 rgba(0, 0, 0, .1),
    4px 4px 5px 0 rgba(0, 0, 0, .1);
    transition: all 0.3s ease;

}

.btn-1:hover {
    color: #000;
}

.btn-1:hover:after {
    top: auto;
    bottom: 0;
    height: 100%;
}

.btn-1:active {
    top: 2px;
}

/* 2 */
.btn-2 {
    background: #9FEF00;
    border: none;
    z-index: 1;
    color: #121926;
    text-align: center;
    font-family: Inter, sans-serif;
    font-size: 11px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.btn-2:after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    right: 0;
    z-index: -1;
    background-color: #1A2332;
    border-radius: 5px;
    box-shadow: inset 2px 2px 2px 0 rgba(255, 255, 255, .5),
    7px 7px 20px 0 rgba(0, 0, 0, .1),
    4px 4px 5px 0 rgba(0, 0, 0, .1);
    transition: all 0.3s ease;
}

.btn-2:hover {
    color: #fff;
}

.btn-2:hover:after {
    left: 0;
    width: 100%;
}

.btn-2:active {
    top: 2px;
}

/* 3 */
.btn-3 {
    background: #9FEF00;
    border: none;
    z-index: 1;
    color: black;
}

.btn-3:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    border-radius: 5px;
    background-color: #1A2332;
    box-shadow: inset 2px 2px 2px 0 rgba(255, 255, 255, .5),
    7px 7px 20px 0 rgba(0, 0, 0, .1),
    4px 4px 5px 0 rgba(0, 0, 0, .1);
    transition: all 0.3s ease;
}

.btn-3:hover {
    color: #fff;
}

.btn-3:hover:after {
    top: 0;
    height: 100%;
}

.btn-3:active {
    top: 2px;
}


#menu__btn__icon {
    display: none;
    width: 60px;
    height: 45px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

.panels__two-thee__text {
    max-width: 363px
}

#menu__btn__icon span {
    display: block;
    position: absolute;
    height: 9px;
    width: 100%;
    background: black;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}


#menu__btn__icon span:nth-child(1) {
    top: 0;
}

#menu__btn__icon span:nth-child(2), #menu__btn__icon span:nth-child(3) {
    top: 18px;
}

#menu__btn__icon span:nth-child(4) {
    top: 36px;
}

#menu__btn__icon.open span:nth-child(1) {
    top: 18px;
    width: 0;
    left: 50%;
}

#menu__btn__icon.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

#menu__btn__icon.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

#menu__btn__icon.open span:nth-child(4) {
    top: 18px;
    width: 0;
    left: 50%;
}

#logo__footer {
    width: 60px;
    height: 60px;
}

.footer {
    color: #FFFFFF;
}


.container-footer {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    display: grid;

}

.test-container {


}

.footer__top-components-title {
    color: #FFF;
    font-family: Inter, serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.footer__top-components-list {
    color: #A4B1CD;
    font-family: IBM Plex Sans, serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 21px; /* 150% */
}

.footer__top__languages-icons-table {
    max-width: 70%;
    padding: 0;
    grid-column-gap: 0.5rem;
    grid-row-gap: 0.5rem;
    flex-wrap: wrap;
    align-items: flex-start;
    display: flex;
}

.footer__bottom, .footer__top {
    display: flex;
    justify-content: space-between;
}

.footer__bottom__legal-link-table {
    padding: 0;
    grid-column-gap: 1.5rem;
    grid-row-gap: 1.5rem;
    grid-template-rows: auto;
    grid-template-columns: max-content;
    grid-auto-columns: max-content;
    grid-auto-flow: column;
    align-items: start;
    justify-items: start;
    display: grid;

}

.footer__bottom____item-legal-link {
    color: #A2A2A4;
    font-family: IBM Plex Sans, serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 21px;

}

.footer__text {
    margin: 0;
}

.footer__social-table {
    padding: 0;
    grid-column-gap: 1.5rem;
    grid-row-gap: 1.5rem;
    grid-template-rows: auto;
    grid-template-columns: max-content;
    grid-auto-columns: max-content;
    grid-auto-flow: column;
    align-items: start;
    justify-items: start;
    display: grid;

}

.footer__line-between {
    background: rgba(255, 255, 255, 0.10);
    width: 100%;
    height: 1px;
    margin: 3rem 0 3rem 0
}

.panels-two__title-two {
    color: #9FEF00;
    text-align: center;
    font-family: Inter, serif;
    font-size: 80px;
    font-style: normal;
    font-weight: 300;
    line-height: 88px; /* 110% */
}

.panels-two__text-two {
    color: #FFF;
    text-align: center;
    font-family: IBM Plex Sans, serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px; /* 150% */
}

.panels-two__title-main {
    color: #9FEF00;
    text-align: center;
    font-family: Inter, serif;
    font-size: 58px;
    font-style: normal;
    font-weight: 300;
    line-height: 73px; /* 125% */
}

.panels-two__text-main {
    color: #A4B1CD;
    text-align: center;
    font-family: IBM Plex Sans, serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: 36px; /* 150% */
}

.panels-two__item {
    display: flex;
    justify-content: space-between;
    width: 100%;
}


.panels-two__table-two {
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    padding: 4rem;

}

.panels__two-one {
    max-width: 1280px;
    height: 256px;

    margin: 176px auto 24px;
    display: flex;
    text-align: left;


    border-radius: 16px;

    border: 1px solid rgba(26, 35, 50, 0.49);
    background: rgba(26, 35, 50, 0.67);
    backdrop-filter: blur(20px);
}

.panels-two__two {
    width: 758px;;
    height: 920px;


}

.panels-two__tree {
    width: 498px;
    height: 920px;
}

.mines_ul_spase {
    padding: 0;
}

@media (max-width: 1308px) {
    .body {
        padding: calc(10px + (50 - 20) * ((100vw - 320px) / (1200 - 320)));
        font-size: calc(30px + (30 - 20) * ((100vw - 320px) / (1200 - 320)));
        margin-bottom: calc(10px + (20 - 10) * ((100vw - 320px) / (1200 - 320)));
    }

    #first__panel__photo {
        width: 576px;
        height: 270px;
        margin: 2rem 0 0;
        text-align: center;
    }

    .container-footer{
        padding: 2rem;
    }

    #panels-two__two_1__photo{
        width: 100%;
        height: auto;
        margin-top: 30%;
        padding: 1rem;

    }

    .panel__one {
        display: table;
        text-align: center;
        width: 90%;

    }

    .panel__two {
        width: 90%;
    }

    .panel__tree {
        width: 90%;
    }

    .panels-two__tree {

    }

    .panels__two-thee__text {
        max-width: 100%;
    }
    #panels-two__tree_1__photo{
        width: 100%;
        height: auto;
        padding: 4rem;
    }

}

@media (max-width: 1024px) {

    .footer__top {
        display: block;
        margin-top: 1.5rem;

    }

    .footer__top ul {
        padding: 0;
    }

    .footer__bottom {
        display: block;
    }

    .footer__bottom__legal-link-table {
        display: block;
        margin-top: 3rem;
        margin-bottom: 3rem;


    }


    .footer__bottom____item-legal-link, .footer__text {
        margin-top: 16px;

    }

    .panels-two__table-two {
    }

    .panels-two__item {
        display: block;
    }

    .panels__two-one {
        max-width: 1280px;
        height: 100%;
    }

}

@media (max-width: 800px) {
    .menu__list__mobile {
        position: fixed;
        z-index: 100;
        width: 100%;
        height: 100%;
        background-color: #121926;
        text-align: center;
        margin: 0 auto;
    }

    .header__inner {
        min-height: 60px;
    }

    #logo {
        height: 50px;
        width: 50px;
    }

    #menu__btn__icon {
        height: 50px;
        width: 50px;
    }

    .menu__list__mobile.show__menu {
        display: block;
    }

    .mobile-actions {
        margin-top: 6rem;

    }

    .custom-btn {
        width: 95%;
        margin: 10px;
    }

    .menu__list {
        display: none;
    }

    .user-actions {
        display: none;
    }


    .menu__item__mobile {
        text-align: left;
    }

    .menu__list__table {
        padding: 0;
        max-width: 300px;
        margin: 50px auto 0;
        text-align: left;
    }

    .menu__item__mobile {
        margin: 10px;
        color: white;
        font-size: 1rem;
        font-weight: 400;
    }

    .header__inner {
        display: flex;
        justify-content: space-between;
    }

    #menu__btn__icon {
        display: block;
    }


}

@media (max-width: 768px) {
    #btn_the_dojo {
        margin: 2rem 0 0 0;
    }

    .panels {

    }

    #first__panel__photo {
        width: 346px;
        height: 162px;
        margin: 2rem 0 0;
        text-align: center;
    }

    #second__panel__photo {
        margin: 7rem 0 0 0;
        width: 100%;
        height: auto;
        text-align: center;
        padding: 3rem;


    }


    /*---*/
    .panel__one__text {
        margin: 0;
        text-align: center;
    }

    .panel__two__text {
        margin: 0;
        text-align: center;
    }

    .panel__tree__text {
        margin: 0;
        text-align: center;
    }

    /*---*/
    .panel__one__title {
        margin: 0;
        text-align: center;

    }

    .panel__two__title {
        margin: 0;
        text-align: center;

    }

    .panel__tree__title {
        margin: 0;
        text-align: center;
    }


    .panel__icon__back {
        margin: 3%;
    }

}

@media (max-width: 480px) {

}

@media (max-width: 360px) {

}





